:root {
    --scrollspeed: 60s;
}

body {
    font-family: "Helvetica Neue LT Pro", sans-serif;
    font-weight: 750;
    background-color: red;
    color: white;
    justify-self: center;
    justify-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

html.waiting,
html.waiting * {
    cursor: wait !important;
}

.white-button,
.red-button {
    font-family: "Helvetica Neue LT Pro", sans-serif;
    font-weight: 750;
    border: 2px solid red;
    font-size: 3em;
    padding: 10px;
    color: red;
    background-color: white;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}

.white-button {
    border-color: red;
    color: red;
    background-color: white;
}

.white-button:hover {
    background-color: red;
    color: white;
}

.red-button {
    background-color: red;
    color: white;
    border-color: white;
}

.red-button:hover {
    background-color: white;
    color: red;
    border-color: red;
}

.red-button:disabled {
    background-color: lightcoral;
    color: white;
    border-color: white;
}

input {
    font-family: monospace;
    border: 2px solid red;
    font-size: 2em;
    height: 2em;
    background-color: white;
    color: red;
    display: block;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

input:focus {
    outline: none;
}

input:disabled {
    background-color: rgb(233, 233, 233);
}

.container {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    border: 2px solid red;
    padding: 20px;
    justify-self: center;
    justify-content: center;
    text-align: center;
    gap: 0px;
    max-width: 500px;
    margin: auto;
    color: red;
    position: relative;
}

.container>h1 {

    font-weight: 750;
}

.marquee,
.marquee-mini {
    display: flex;
    overflow: hidden;
    padding: 10px 0;
}

.marquee {
    position: relative;
    background: white;
    border: 2px solid red;
    font-size: 1.5em;
    color: red;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.marquee-mini {
    position: fixed;
    left: 0px;
    height: 5px;
    top: 0px;
    background: rgb(255, 0, 0);
    border: 1px solid white;
    align-items: center;
    z-index: 99999;
    font-size: 0.5em;
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    font-size: 2em;
    font-weight: 950;
    animation: scroll var(--scrollspeed) linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.header {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    color: red;
    padding: 20px;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
}

.header>h1 {
    font-weight: 750;
}

.header>p {
    max-width: 50%;
}

a {
    color: red;
}

.formTitle {
    font-weight: 750;
    font-size: 50px;
}

.monoFont {
    font-family: monospace;
    color: red;
    font-size: 1.5em;
}

/*
.anticheat>h1 {
    align-self: center;
    justify-self: center;
    font-weight: 500;
}

.anticheat>p {
    font-family: monospace;
    color: white;
    font-size: 1.5em;
}
*/

footer {
    background-color: white;
    color: red;
    padding: 20px;
    max-width: 100%;
    min-width: 90%;
    margin-top: 10px;
    bottom: 0;
}

strong {
    font-weight: 500;
}

p {
    font-weight: 400;
}

.sticky-container {
  position: relative;
  height: 1000px;
}

.sticky-element {
  position: sticky;
  top: 25%;
  padding: 100px;
}
